.app-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.task-box {
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.task-box h2 {
  margin-bottom: 10px;
  color: #111827;
}

hr {
  margin: 20px 0;
}
